{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container">
        <h2>Liked Products</h2>
        <div class="row">
            {% for like in liked_products %}
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            {% if like.product.images.exists %}
                                <img src="{{ like.product.images.first.image.url }}" alt="{{ like.product.name }}">
                            {% else %}
                                <img src="{% static 'img/default-product.jpg' %}" alt="Default Image">
                            {% endif %}
                            <!-- Product Badge -->
                            {% if like.product.discount %}
                                <div class="product-badge offer-badge">
                                    <span>-{{ like.product.discount }}%</span>
                                </div>
                            {% endif %}
                        </div>

                        <!-- Product Description -->
                        <div class="product-description">
                            <span>{{ like.product.brand.name }}</span>
                            <a href="{% url 'product-detail' like.product.id %}">
                                <h6>{{ like.product.name }}</h6>
                            </a>
                            <p class="product-price">${{ like.product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}
